[submodule "site-german/_theme/e-smog"]
	path = site-german/_theme/e-smog
	url = ../e-smog-jekyll-theme

[submodule "site-english/_theme/e-smog"]
	path = site-english/_theme/e-smog
	url = ssh://git@raspi01/~/repos/e-smog-jekyll-theme

