{% include footer.html %}
{% include standard_scripts.html %}

<script>
  var headings = document.querySelectorAll("h1[id], h2[id], h3[id], h4[id], h5[id], h6[id]");

  for (var i = 0; i < headings.length; i++) {
      headings[i].innerHTML = 
          headings[i].innerHTML +
          '<a class="heading-anchor-link" href="#' + headings[i].id + '">' +
            '<i class="material-icons">link</i>' +
          '</a>';
          headings[i].classList.add('heading-anchor');
  }
</script>
</body>
</html>