$enable-shadows: true;
$enable-rounded: true;
$enable-gradients: true;

@import "bootstrap/scss/mixins";
@import "bootstrap/scss/functions";

/*Colors have to be defined up here in order to overwrite color maps like $theme-colors */
$primary: #2c2c2c;
$secondary: #56a5ff;
$danger: #9c1710;
$warning: #ffd900;
$success: #008000;
$info: #56a5ff;
$light: #ececec;
$lighter: #fafafa;
$grey: #727272;
$dark: #303133;
$darker: #131414;
$highlight: #22b6fa;
$body-bg: $lighter;
$body-color: #000000;
$navbar-light-color: $dark;

$theme-colors: ( 
  "primary":    $primary, 
  "secondary":  $secondary,
  "danger":     $danger,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "light":      $light,
  "dark":       $dark
);


/* Now import the bootstrap standard variables for access to standard values. Defined colors are overwritten */
@import "bootstrap/scss/variables";


$big-navbar-height: 5rem;
$small-navbar-height: 4rem;
$header-image-url: url("/assets/circuit_board.jpg");
$headings-font-family: Montserrat, $font-family-base;
$line-height-base: 1.625;
