---
---
{% include htmlhead.html %} 
{% include header.html %}

<main role="main">
  <div class="container">
    {% for post in paginator.posts %}
    <div class="row featurette">
      <div class="featurette-image col-md-5">
        <div class="img-container mx-auto">
            <a href="{{ post.url | absolute_url }}"><img class="featurette-image mx-auto" src="{{ post.image | absolute_url }}" alt=""></a>
        </div>
      </div>

      <div class="post-text col-md-7">
        <h2 class="featurette-heading">
          <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
        </h2>
        <div class="postmeta">        
            <span class="post-meta"><i class="material-icons">perm_contact_calendar</i> Von {{ post.author }}</span> &middot;
            <span class="post-meta"><i class="material-icons">date_range</i> {{ post.date | date: "%d.%m.%Y" }}</span> &middot;
            <span class="post-meta"><i class="material-icons">folder_special</i> {{ post.categories[0] }}</span>
        </div>
        <div class="p-3 mb-2">
            {{ post.excerpt }}
        </div>
      </div>
    </div>

    <hr class="featurette-divider"> 
    {% endfor %}

  {% if paginator.total_pages > 1 %}
  <nav>
    <ul class="pagination">
      {% if paginator.page_trail %}
      {% for trail in paginator.page_trail %}
        <li class="page-item{% if page.url == trail.path %} active{% endif %}">
            <a class="page-link" href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
        </li>
      {% endfor %}
    {% endif %}
    </ul>
  </nav>
  {% endif %}
  </div>
</main>  
  <!-- /.container -->
  {% include footer.html %}