{% include htmlhead.html %} 
{% include header.html %}

<main role="main">
  <!-- Marketing messaging and featurettes
      ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container">
    {% for post in site.posts %}
    <div class="row featurette">

      <div class="post-text col-md-7 order-md-2">
        <h2 class="featurette-heading">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="postmeta">        
            <span class="post-meta">Von {{ post.author }}</span> &middot;
            <span class="post-meta"> am {{ post.date | date: "%d.%m.%Y" }}</span> 
        </div>
        {{ post.excerpt }}
      </div>

      <div class="featurette-image col-md-5">
        <div class="img-container">
            <a href="{{ post.url | prepend: site.baseurl }}"><img class="featurette-image mx-auto" src="{{ post.image }}" alt=""></a>
        </div>
      </div>
    </div>

    <hr class="featurette-divider"> 
    {% endfor %}

  </div>
</main>  
  <!-- /.container -->
  {% include footer.html %}