---
---
{% include html_head.html %}
{% include navbar.html %}
<main role="main">
    <div class="container main-content">
            <div class="row">
                <div class="col{% if page.showtoc == true %}-sm-9{% endif %}">
                    <h1 class="page-header"> {{ page.title }} </h1>
                    {{content}}
                </div>


                {% if page.showtoc == true %}
                <div class="col-sm-3">
                    {% for category in page.categories %}
                        <div class="category-toc card">
                            <div class="card-body">
                                <h5 class="card-title"> Mehr aus {{ category }} </h3>
                                <ul class="list-group list-group-flush">
                                    {% for post in site.categories[category] %}
                                    <li class="list-group-item"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div> 
                    {% endfor %}
                </div>
                {% endif %}

            </div>
            <hr />
            <div class="row">
                <div class="post-meta"> </div>
            </div>
    </div>
</main>
{% include post_footer.html %}